.main-contents {
	background-color: #f5f5f5;
}

.comment {
	font-size: 12px;
	font-family: "Arial";
	background-color:#F3F3FF;
	margin-left:1em;
	padding:0.5em 1em;
	border-top:solid 1px #ccc;
	width:90%}
}
.comment-area{
	font-size:12px;
	width:100%;
	margin-left:1em;
	padding-left:1em;
}
.comment-area textarea{
	width:90%;
}

.messages {
	font-size: 14px;
	font-family: "Arial";
	margin:10px 6px;
}

.message{
	background-color:white;
	padding:0.6em;
	margin:1.5em 0.5em;
}

.userName{
	margin-right:1em;
	font-size: 14px;
    font-weight:bold;
}

.title{
	margin-top:20px;
	font-size:18px;
}

.category{

}

.text{

}
.date{
	font-size:10px;
}

pre{
	display:inline;
}

samp {
	font-family: "Arial";
}


form {
	border: 0;
	font-size: 1.1em;
	font-family: Arial, sans-serif;
	color: #555;
}

input {
	margin-bottom: 8px;
	border: solid 1px #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 20px;
}

input:focus {
	border: 2px solid #f5fc03;
	outline: 0;
}

