
.loginForm form{
	border: 0;
	padding: 10px;
	font-size: 1.2em;
	font-family: Arial, sans-serif;
	color: #aaa; margin : 0 0 20px;
	width: 90%;
	margin: 0 0 20px;
}

.loginForm input {
	margin-bottom: 8px;
	border: solid 1px #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.loginForm input:focus {
	border: 2px solid #f5fc03;
	outline: 0;
}
