form{

border:0;
padding:10px;
font-size:1.3em;
font-family:Arial, sans-serif;
color:#aaa;

margin:0 0 20px;
width:90%;
}

textarea{
	width:100%;
	display:block;
	margin-bottom:10px;
	border:solid 1px #ccc;
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
textarea:focus{
	border: 2px solid #f5fc03;
  outline: 0;
}

input{
	border:solid 1px #ccc;
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

input:focus {
	border: 2px solid #ff9900;
	outline: 0;
}


