form {
	border: 0;
	padding: 10px;
	font-size: 1.2em;
	font-family: Arial, sans-serif;
	color: #aaa; margin : 0 0 20px;
	width: 90%;
	margin: 0 0 20px;
}

input {
	margin-bottom: 8px;
	border: solid 1px #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 20px;
}

input:focus {
	border: 2px solid #f5fc03;
	outline: 0;
}

textarea {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	border: solid 1px #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

textarea:focus {
	border: 2px solid #ff9900;
	outline: 0;
}

select {
	margin-bottom: 8px;
	border: solid 1px #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 2em;
	font-size: 0.9em;
}